/* HEADER */

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;
	background-color: #3161E0;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;
}

.header-links {
	flex-grow: 1;
	text-align: center;
	padding: 10px;
}

.header-links > * {
	text-decoration: none;
	color: white;
	margin: 0 20px;
	font-size: 16px;
}

.header-login {
	text-align: right;
}

.login-button {
	width: 60px;
	height: 30px;
	border-radius: 30px;
	font-size: 12px;
	border: none;	
}

/* JUMBOTRON */

.jumbotron {
	display: flex;
	justify-content: center;
	background-image: url(../img/jumbo.png);
	background-size: cover;
}

.jumbotron .content {
	min-height: 400px;
	width: 50%;
	text-align: center;
	color: white;	
}

.content :first-child {
	font-size: 60px;
	padding-bottom: 30px;
	font-weight: 900;
}

.content :nth-child(2) {
	font-size: 18px;
	padding-bottom: 30px;
}

.content-button {
	width: 200px;
	height: 50px;
	border-radius: 30px;
	font-size: 15px;
	border: none;
	font-weight: 600;
	margin: 5px;
}

.browser {
	width: 250px;
	background-color: #23272A;
	color: #FFFFFF;
}

/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: #F6F6F6;
}

.main-col {
	flex-grow: 2;
	margin-top: 30px;
}

.side-col {
	flex-grow: 1;
	width: 30%;
}

.column-title {
	font-size: 45px;
	font-weight: 900;
	margin: 60px 0 50px 0;
	color: #23272A;
}

.column-description {
	font-size: 25px;
}

.column-title.gray {
	margin-left: 100px;
}

.column-description.gray {
	margin-left: 100px;
}

.gray-img {
	margin-left: 100px;
}


.hilighted-content {
	flex-grow: 1;
	text-align: center;
}

.stars {
	display: block;
	font-size: 30px;
	font-weight: 900;
	color: #23272A;
}

.bottom-button {
	width: 200px;
	height: 50px;
	border-radius: 30px;
	font-size: 20px;
	border: none;
	font-weight: 600;
	margin: 5px;
	background-color: #8EA1E1;
	color: #FFFFFF;
	margin: 40px 0 40px 0;
}

/* FOOTER */

.footer-main {
	padding-top: 10px;


	/* debug */
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid purple;

	/* debug */
	min-height: 500px;
}

.footer-main-col {
	width: calc(100% / 3);
}

.flag {
	width: 25px;
	height: 20px;
}

#italiano {
	background-color: transparent;
	color: #FFFFFF;
	margin-bottom: 10px;	
}

.footer-title {
	font-size: 40px;
	font-weight: 900;
	color: #7289DA;
	padding: 10px;
	margin-bottom: 20px;
}

.fa-brands {
	color: #FFFFFF;
	font-size: 20px;
	padding: 15px;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);
}

.footer-col {
	width: 25%;
}

.footer-list-title {
	font-size: 20px;
	color: #7289DA;
	margin: 20px 0 20px 0;
}

ul {
	list-style-type: none;
}

li>* {
	text-decoration: none;
	color: #FFFFFF;
	line-height: 30px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}

.footer-bottom>* {
	padding: 5px 10px;
}

.footer-button {
	width: 140px;
	height: 50px;
	border-radius: 30px;
	font-size: 20px;
	border: none;
	font-weight: 600;
	background-color: #8EA1E1;
	color: #FFFFFF;
}