/* HEADER */

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;
	background-color: #3161E0;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;
}

.header-links {
	flex-grow: 1;
	text-align: center;
	padding: 10px;
}

.header-links > * {
	text-decoration: none;
	color: white;
	margin: 0 20px;
	font-size: 16px;
}

.header-login {
	text-align: right;
}

.login-button {
	width: 60px;
	height: 30px;
	border-radius: 30px;
	font-size: 12px;
	border: none;	
}

/* JUMBOTRON */

.jumbotron {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	background-image: url(../img/jumbo.png);
	background-size: cover;
}

.jumbotron .content {
	min-height: 400px;
	width: 50%;
	text-align: center;
	color: white;	
}

.content :first-child {
	font-size: 60px;
	padding-bottom: 30px;
}

.content :nth-child(2) {
	font-size: 18px;
	padding-bottom: 30px;
}

.content-button {
	width: 200px;
	height: 50px;
	border-radius: 30px;
	font-size: 15px;
	border: none;
	font-weight: 600;
	margin: 5px;
}

.browser {
	width: 250px;
	background-color: #23272A;
	color: #FFFFFF;
}

/* MAIN & SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;

	/* debug */
	min-height: 500px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: lightgray;
}

.main-col {
	flex-grow: 2;

	/* debug */
	background-color: cornflowerblue;
	border: 2px dashed black;
}

.side-col {
	flex-grow: 1;

	/* debug */
	background-color: pink;
	border: 2px dashed black;
}

.hilighted-content {
	flex-grow: 1;

	/* debug */
	min-height: 800px;
	background-color: forestgreen;
	border: 2px dashed black;
}

/* FOOTER */

.footer-main {
	padding-top: 10px;


	/* debug */
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid purple;

	/* debug */
	min-height: 500px;
}

.footer-main-col {
	width: calc(100% / 3);

	/* debug */
	background-color: #f08080;
	border: 2px dashed black;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);

	/* debug */
	background-color: #20b2aa;
	border: 2px dashed black;
}

.footer-col {
	width: 25%;

	/* debug */
	background-color: #20b2aa;
	border: 2px dashed white;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

	/* debug */
	background-color: #7fffd4;
}

.footer-bottom>* {
	padding: 5px 10px;


	/* debug */
	background-color: #ffb6c1;
	border: 2px dashed black;
}